<launch>
  <arg name="simulation" default="false" />

  <include file="$(find roomac_ar_tag)/launch/tf_publishing.launch">
    <arg name="filtration_enabled" value="false" />
    <arg name="simulation" value="$(arg simulation)" />
  </include>

  <include file="$(find roomac_ar_tag)/launch/bundle_ar_tag.launch" />
</launch>