<launch>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find roomac_arm)/rviz/arm.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(find roomac_arm)/urdf/arm.urdf.xacro" />

  <node name="arm_controller" pkg="roomac_arm" type="arm_controller.py" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam param="source_list">["/sequence_joint_states"]</rosparam>
  </node>

  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>