<launch>

  <node name="pick_correction_node" pkg="roomac_autonomous_manipulation" type="pick_correction_node">
    <rosparam command="load" file="$(find roomac_autonomous_manipulation)/config/pick_correction_config.yaml" />
  </node>

  <arg name="rvizconfig" default="$(find roomac_autonomous_manipulation)/rviz/picking_correction.rviz" />
  <node name="rviz_picking_correction" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
</launch>