<launch>
    <include file="$(find roomac_autonomous_manipulation)/launch/real_ar_object_detection.launch"/>

    <include file="$(find roomac_description_moveit)/launch/demo.launch"/>

    <node name="add_robot_body_collision_to_scene" pkg="roomac_autonomous_manipulation" type="add_robot_body_collision_to_scene.py" output="screen"/>

    <node name="arm_controller" pkg="roomac_arm" type="arm_controller.py"/>
</launch>