<launch>
  <arg name="upper_kinect_mounted_parellel" default="true"/>

  <include file="$(find roomac_autonomous_manipulation)/launch/real_ar_object_detection.launch">
    <arg name="upper_kinect_mounted_parellel" value="$(arg upper_kinect_mounted_parellel)"/>
  </include>

  <include file="$(find roomac_moveit)/launch/demo.launch"/>

  <node name="add_robot_body_collision_to_scene" pkg="roomac_autonomous_manipulation" type="add_robot_body_collision_to_scene.py" output="screen"/>

  <include file="$(find roomac_arm)/launch/arm_joint_state_controller.launch"/>
</launch>