<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find roomac_kinect)/urdf/base_kinect_calibration.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <arg name="rvizconfig" default="$(find roomac_kinect)/rviz/roomac_kinect_calibration.rviz" />
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />


  <include file="$(find freenect_launch)/launch/freenect.launch" />
</launch>