<?xml version="1.0" ?>
<robot name="roomac" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find roomac_description)/urdf/roomac.trans" />
<xacro:include filename="$(find roomac_description)/urdf/roomac.gazebo" />
<xacro:include filename="$(find roomac_description)/urdf/roomac_body.xacro" />

<link name="artag_bundle_link"/>
<joint name="artag_joint_bundle" type="fixed">
    <origin rpy="${-pi/2} 0 0" xyz="0.04857 0 0"/>
    <parent link="artag_bundle_visual_link"/>
    <child link="artag_bundle_link"/>
</joint>

</robot>