<?xml version="1.0" ?>
<robot name="roomac" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find roomac_description)/urdf/materials.xacro" />
<xacro:include filename="$(find roomac_description)/urdf/roomac.trans" />
<xacro:include filename="$(find roomac_description)/urdf/roomac.gazebo" />
<xacro:include filename="$(find roomac_description)/urdf/roomac_body.xacro" />
<xacro:include filename="$(find roomac_description)/urdf/roomac_gripper_real.xacro" />

</robot>
