<launch>

<rosparam file="$(find roomac_description)/launch/controller_individual.yaml" command="load"/>

<node args="shoulder_pitch_right_position_controller shoulder_roll_right_position_controller elbow_right_position_controller wrist_right_position_controller gripper_twist_right_position_controller shoulder_pitch_left_position_controller shoulder_roll_left_position_controller elbow_left_position_controller wrist_left_position_controller gripper_twist_left_position_controller joint_state_controller " name="controller_spawner" ns="roomac" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>

<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/roomac/joint_states"/>
</node>

</launch>