<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find roomac_description)/urdf/roomac.xacro simulation:=true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/roomac/joint_states" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["move_group/fake_controller_joint_states", "/roomac/joint_states"]</rosparam>
  </node>
</launch>