<launch>
  <arg name="simulation" default="false" />

  <!-- In simulation it should be 1, but due to imperfection of motors and control it is important 
    to set it higher for real robot - it results in smoother execution without stops -->
  <arg if="$(arg simulation)" name="control_look_ahead_poses" value="3" />
  <arg unless="$(arg simulation)" name="control_look_ahead_poses" value="6" />

  <node pkg="move_base" type="move_base" name="move_base_node" output="screen" clear_params="true">
    <remap from="map" to="rtabmap/octomap_grid" />
    <remap from="odom" to="odometry/filtered" />

    <!-- dwa local planner-->
    <!-- DWA stopped working recently - only outputs DWA planner failed to produce path. -->
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find roomac_move_base)/config/dwa_local_planner.yaml" command="load" ns="DWAPlannerROS" /> -->

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <rosparam file="$(find roomac_move_base)/config/teb_local_planner.yaml" command="load" ns="TebLocalPlannerROS" subst_value="true" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <rosparam file="$(find roomac_move_base)/config/global_planner.yaml" command="load" ns="GlobalPlanner" />

    <!-- <param name="base_global_planner" value="navfn/NavfnROS" />
    <rosparam file="$(find roomac_move_base)/config/navfn_global_planner.yaml" command="load" ns="NavfnROS" /> -->

    <!-- <param name="base_global_planner" value="SBPLLatticePlanner" />
    <rosparam file="$(find roomac_move_base)/config/sbpl_global_planner.yaml" subst_value="true" command="load" ns="SBPLLatticePlanner" /> -->

    <!-- <param name="base_global_planner" value="rrt_star_global_planner/RRTStarPlanner"/>
    <rosparam file="$(find roomac_move_base)/config/rrt_star_global_planner.yaml" command="load" ns="RRTStarPlanner" /> -->

    <!-- <param name="base_global_planner" value="global_planner/RRTGlobalPlanner"/>
    <rosparam file="$(find roomac_move_base)/config/rrt_global_planner.yaml" command="load" ns="RRTGlobalPlanner" /> -->

    <!-- Load common configuration files -->
    <rosparam file="$(find roomac_move_base)/config/move_base_params.yaml" command="load" />

    <!-- Footprint padding isn't loaded correctly, maybe only bug in kinetic, have to check it in melodic -->
    <rosparam file="$(find roomac_move_base)/config/move_base_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find roomac_move_base)/config/move_base_params.yaml" command="load" ns="global_costmap" />

    <!-- Load global navigation specific parameters -->
    <rosparam file="$(find roomac_move_base)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find roomac_move_base)/config/global_costmap_params.yaml" command="load" />
  </node>

</launch>