<launch>
  <node pkg="rosbag" type="record" name="record_servo" output="screen" 
    args="-o /home/roomac/catkin_ws/
    /shoulder_pan_position /shoulder_lift_position /elbow_position /wrist_position /wrist_twist_position /gripper_position 
    /shoulder_pan_playtime /shoulder_lift_playtime /elbow_playtime 
    /wrist_speed /wrist_twist_speed /gripper_speed
    /joint_states" />
</launch>