<launch>
  <node pkg="rosbag" type="record" name="record_servo" output="screen" 
    args="-o /home/roomac/catkin_ws/
    /arm_position_controller/shoulder_pan_cmd /arm_position_controller/shoulder_lift_cmd /arm_position_controller/elbow_cmd 
    /arm_position_controller/wrist_cmd /arm_position_controller/wrist_twist_cmd /arm_position_controller/gripper_cmd" />
</launch>