<launch>
  <include file="$(find roomac_description)/launch/description.launch" />
  <include file="$(find rgbd_launch)/launch/kinect_frames.launch">
    <arg name="camera" value="camera_up" />
  </include>
  <include file="$(find roomac_ar_tag)/launch/roomac_ar_tag.launch" />

  <!-- Because sim_time is not used in this test, there is a mismatch between timestamp and timeout can't be checked
   properly. Sim time can't be used, because rosbag is too short and it has to be looped, which will cause errors with
   sim time -->
  <param name="/artag_parallel_tf_publisher_node/check_transform_timeout" type="bool" value="false" />

  <node pkg="rosbag" type="play" name="player" output="screen" args="-d 1 -l $(find roomac_ar_tag)/test/robot_pose_detection.bag" />

  <!-- wait for position to stabilize before running test -->
  <test test-name="robot_pose_detection_test" pkg="roomac_ar_tag" type="robot_pose_detection.test.py" time-limit="15.0" launch-prefix="bash -c 'sleep 4; $0 $@' ">
    <rosparam command="load" file="$(find roomac_ar_tag)/test/robot_pose_detection_correct_values.yaml" />
  </test>
</launch>