<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="upper_kinect">
  <link name="base_link" />
  <link name="base_footprint" />

  <joint name="base_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 -0.145"/>
		<parent link="base_link"/>
		<child link="base_footprint"/>
	</joint>
	
  <link name="camera_link" />
    
  <joint name="kinect_joint" type="fixed">
		<origin rpy="0.0103379679904 0.424522933365 0.876123018686" xyz="-0.15252797763 -0.129919622053 0.930481065395"/>
		<parent link="base_link"/>
		<child link="camera_link"/>
	</joint>
</robot>