<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">
	<xacro:property name="pi" value="3.14159" />
	<xacro:property name="kinect_angle_rad" value="0.40" />
	<!-- 0.71 -->

	<link name="base_link" />
	<link name="base_footprint" />
	<link name="camera_link" />

	<joint name="base_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 -0.145" />
		<parent link="base_link" />
		<child link="base_footprint" />
	</joint>

	<joint name="kinect_joint" type="fixed">
		<origin rpy="0 ${kinect_angle_rad} 0" xyz="-0.12 0.0052 0.474" />
		<parent link="base_link" />
		<child link="camera_link" />
	</joint>
</robot>