<launch>
  <arg name="gazebo_gui" default="true"/>
  <arg name="rviz_config_file" default="$(find roomac_simulation)/rviz/simulation.rviz"/>

  <include file="$(find roomac_description)/launch/gazebo.launch">
    <!-- <arg name="world_name" value="worlds/willowgarage.world"/> -->
    <!-- <arg name="world_name" value="$(find roomac_simulation)/worlds/willowgarage.world"/> -->
    <arg name="world_name" value="$(find roomac_simulation)/worlds/small_house.world"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>
  <include file="$(find roomac_description)/launch/controller.launch"/>

  <node args="-d $(arg rviz_config_file)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
