<launch>
  <arg name="rgb_image_topic" default="/camera/rgb/image_rect_color"/>
  <arg name="depth_image_topic" default="/camera/depth_registered/image_raw"/>
  <arg name="rgb_camera_info_topic" default="/camera/rgb/camera_info"/>

  <group ns="rtabmap">
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="$(arg rgb_image_topic)"/>
      <remap from="depth/image"     to="$(arg depth_image_topic)"/>
      <remap from="rgb/camera_info" to="$(arg rgb_camera_info_topic)"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="true"/> 
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <param name="database_path" type="string" value="~/roomac_data/rtabmap.db"/>

      <remap from="odom" to="/odometry/filtered"/>
      <param name="queue_size" type="int" value="10"/>

      <!-- Set parameters for mapping just in case they were changed in localization and rosparam server wasn't reloaded -->
      <param name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="false"/>
      <param name="RGBD/StartAtOrigin" type="bool" value="false"/>

      <rosparam file="$(find roomac_rtabmap)/config/rtabmap_wheel_odom.yaml" command="load" />
    </node>
  </group>
</launch>