<launch>
  <include file="$(find roomac_arm)/launch/demo_arm_hardware.launch" />
  <include file="$(find roomac_base)/launch/base_controller_hardware.launch" />
  <node name="joy_controller_simple" pkg="roomac" type="joy_controller_simple.py"/>

  <param name="language" value="pl"/>
  <node name="picotts" pkg="picotts" type="picotts.exe" output="screen">
    <param name="engine" value="espeak"/>
  </node>
</launch>