<launch>
  <arg name="picking_correction_enabled" default="false" />

  <include file="$(find roomac_autonomous_manipulation)/launch/real_picking.launch">
    <arg name="upper_kinect_mounted_parellel" value="true"/>
  </include>

  <include file="$(find roomac_autonomous_manipulation)/launch/picking_object_manager.launch">
    <arg name="simulation" value="false"/>
  </include>
  
  <include if="$(arg picking_correction_enabled)" file="$(find roomac_autonomous_manipulation)/launch/picking_correction.launch" />

  <node name="add_table_body_collision_to_scene" pkg="roomac_autonomous_manipulation" type="add_table_body_collision_to_scene.py" output="screen"/>
  <include file="$(find roomac_autonomous_manipulation)/launch/object_detection.launch"/>
</launch>