<launch>
  <include file="$(find roomac_rtabmap)/launch/rtabmap.launch" />
  <include file="$(find roomac_kinect)/launch/base_kinect.launch" />
  <include file="$(find roomac_sensor_fusion)/launch/robot_localization.launch" />
  <include file="$(find roomac)/launch/ros_mobile.launch" />
  <include file="$(find roomac_base)/launch/serial.launch" />
  <include file="$(find roomac_description)/launch/description.launch" />
</launch>