<launch>
  <include file="$(find roomac)/launch/laptop_localization_autonomy.launch" />
  <include file="$(find roomac)/launch/autonomous_mission.launch" />
  <include file="$(find roomac)/launch/ros_mobile.launch"/>

  <!-- Temporal solution before making changes in firmware, then it should be removed -->
  <include file="$(find roomac)/launch/firmware_configurations.launch"/>
</launch>