<launch>
  <include file="$(find roomac_rtabmap)/launch/rtabmap_localization_wheel_odom.launch" />
  <include file="$(find roomac_kinect)/launch/kinect.launch" />
  <node name="odom_tf_to_topic" pkg="roomac_rtabmap" type="odom_tf_to_topic.py"/>
  <include file="$(find roomac_move_base)/launch/move_base.launch" />
</launch>