[Unit]
After=NetworkManager.service time-sync.target
[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/catkin_ws/src/roomac/roomac_bringup/startup/roomac_startup.sh
[Install]
WantedBy=multi-user.target
